button {
    background: #f7b84b;
    border-radius: 22px;
    position: relative;
    color: #000000;
    padding: 2px 12px;
    width: 50%;
    height: 33px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

button::after {
    content: '';
    position: absolute;
    border: 1px solid #f7b84b;
    height: 33px;
    top: -5px;
    left: -6px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 22px;
}