.comentario-unico-container {
  width: 70%;
  border: 2px solid #f7b84b;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 30px;
}

.header-usuario {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nome-usuario {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #f7b84b;
}

.jogo-descricao {
  text-align: left;
}
