body {
    height: 100%;

    background: #312613;
    background: linear-gradient(1deg,#312613 0%, #000000 80%);
    background: -webkit-linear-gradient(1deg,#312613 0%, #000000 80%);
    background: -moz-linear-gradient(1deg,#312613 0%, #000000 80%);
  
    color: #ffffff;
  }

.body__content {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    min-height: 500px;
}

.body__content .body__content--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 100px;
}

.body__content .body__content--logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 50px;
}





/* import styled from 'styled-components';

export const Container = styled.main`
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
`

export const Title = styled.h2`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    width: 80%;
    margin-bottom: 20px;
    line-height: 44px;
    color: #ffffff;
`

export const TextContent = styled.p`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 80%;
    margin-bottom: 20px;
    color: #ffffff;
`

export const ImageContainer = styled.div`
    width: 80%;
`

export const Image = styled.img`
    width: 100%;
    height: auto;
    display: block;
` */
