header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    background: #000000;
    z-index: 1;
}

header .header__content {
    width: 1150px;
}

header .header__content nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .header__content nav .nav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

header .header__content nav .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

header .header__content nav > figure > img {
    width: 32px;
}

header .header__content nav .nav__button .user-info .image-name {
    width: 30px;
}

header .header__content nav .nav__button .user-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    color: #f7b84b;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

a {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
}