body {
    height: 100%;

    background: #312613;
    background: linear-gradient(1deg,#312613 0%, #000000 80%);
    background: -webkit-linear-gradient(1deg,#312613 0%, #000000 80%);
    background: -moz-linear-gradient(1deg,#312613 0%, #000000 80%);
  
    color: #ffffff;
  }

.body__content {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    min-height: 500px;
}

.body__content .body__content--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 100px;
}

.body__content .body__content--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 50px;
    padding: 0 50px;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.wrapper {
    max-width: 300px;  
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

form {
    padding-bottom: 50px;
}

.esqueci-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #7e7c79;
}

.criar-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #f7b84b;
}

/* import styled from 'styled-components';

export const Container = styled.main`
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
`


export const Wrapper = styled.div`
    max-width: 300px;  
`


export const Column = styled.div`
    display: flex;
    justify-content: center;
    align-items: center;    
    flex: 1;
`


export const Row = styled.div`
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
`


export const Title = styled.h2`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    max-width: 90%;
    margin-bottom: 20px;
    line-height: 54px;
    color: #f7b84b;
`


export const TitleLogin = styled.p`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 8px;
`


export const SubtitleLogin = styled.p`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 35px;
`


export const EsqueciText  = styled.p`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #7e7c79;
` 


export const CriarText =  styled.p`
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #f7b84b;
` */